.container{
    width:95%;
    height:60%;
    margin:auto;
}

.image-slider-wrapper{
    overflow: hidden;
    height:100%;
}

#image_slider{
    position: relative;
    left:auto;
    height: 100%;
    width:80%;
    padding:0;
    transition: left 0.3s; /*transition for the left scroll*/
}

#image_slider div{
    max-width: 100%;
    float:left;
    list-style: none;
}

img {
  height: 500px;
  width:auto;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin:5px;

}

.placeholder {
  height: 500px;
  width:auto;
  filter: blur(10px);
  transform: scale(1);
}

.picture {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 500px;
  width:auto;
  transition: opacity 1s linear;
}

.picture.loaded {
  opacity: 1;
}
